// general
$base-size: 16px;
$transition-duration: 0.5s;

// fonts
@import url(http://fonts.googleapis.com/css?family=Quando&subset=latin,latin-ext);
$primary-font: Quando, sans-serif;

// header
$header-font-size: 14px;
$header-size-small: 50px;
$header-size-medium-up: 70px;
$header-side-margin: 3%;

// container
$h1-small-up: 36px;
$h1-large-up: 48px;
$h2-small-up: 24px;
$h2-large-up: 36px;
$h3-small-up: 22px;
$h3-large-up: 30px;

// colors
$color-1: #563E31;
$color-2: #6093ac;
$color-3: #ac7b62;
$color-4: #EFF4F7;
$color-error: #A72920;