.main-content-c {
   height: 100%;
   position: relative;
   z-index: index($main-elements, main-content);
}

.container-c {
   width: 90%;
   max-width: $medium-breakpoint;
   margin: 0 auto;
   @include clearfix;
   @include outer-container;

   @media #{$large-up} {
      background-attachment: fixed;
   }
}

.fixed-bg {
   &.bg-1 {
      background-image: url('../images/bg1.jpg');

      h2 {
         @media #{$small-only-landscape} {
            display: none;
         }
      }
   }

   &.bg-2 {
      background-image: url('../images/bg2.jpg');

      h1 {
         margin-top: 20px; // old browsers hack
         margin-top: rem-calc(20px);
      }
   }

   &.bg-3 {
      background-image: url('../images/bg3.jpg');
   }

   &.bg-4 {
      background-image: url('../images/bg4.jpg');
   }

   h1, h2 {
      color: rgba(#ffffff, 0.90);
   }

   position: relative;
   min-height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   z-index: index($bg-elements, fixed-bg);

   div.container-c {
      position: absolute;
      @include center;
      width: 90%;
      max-width: $large-breakpoint;

      text-align: center;
      text-shadow: 0 rem-calc(1px) rem-calc(1px) rgba($color-1, 0.3);
      color: $color-4;
   }

   @media #{$large-up} {
      background-attachment: fixed;
   }

   ul {
      list-style-image: url('../images/bullet.png');

      li {
         line-height: rem-calc(60px);
         font-size: rem-calc(25px);
         width: auto;
      }
   }
}

.scrolling-bg {
   position: relative;
   padding: rem-calc(20px + $header-size-small 0);
   z-index: index($bg-elements, scrolling-bg);

   &.color-1 {
      background-color: $color-1;
      color: lighten($color-1, 50%);
   }

   &.color-2 {
      background-color: $color-2;
      color: lighten($color-2, 40%);
   }

   &.color-4 {
      background-color: darken($color-4, 10%);
      color: darken($color-4, 50%);
   }

   @media #{$medium-up} {
      padding: rem-calc(40px + $header-size-medium-up 0);
   }
}