html * {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
   @include box-sizing(border-box);
}

body {
   font: {
      size: rem-calc($base-size);
      family: $primary-font;
   }
   color: $color-1;
   background-color: $color-2;
   line-height: 1.8;
}

body, html {
   height: 100%;
}

a {
   text-decoration: none;
   @include transition-duration($transition-duration);

   &:hover {
      @include transition-duration($transition-duration);
   }
}

h1 {
   @include headline($h1-small-up, $h1-large-up, 1.4);
}

h2 {
   @include headline($h2-small-up, $h2-large-up, 1.4);
}

h3 {
   @include headline($h3-small-up, $h3-large-up, 1.4);
   margin: 0;
}

small {
   font-size: 70%;
}

.large {
   font-size: 110%;

   @media #{$medium-up} {
      font-size: 130%;
   }
}


button, .button {
   background: $color-2;
   border: 2px solid $color-4;
   color: $color-4;
   padding: rem-calc(14px);
   font-size: rem-calc(14px);
   font-family: $primary-font;
   border-radius: 3px;
   cursor: pointer;
   display: inline-block;
   min-width: rem-calc(120px);
   @include transition-duration($transition-duration);

   &:hover {
      background: transparent;
      @include transition-duration($transition-duration);
   }
}