html * {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
   @include box-sizing(border-box);
}

body {
   font: {
      size: rem-calc($base-font-size);
      family: $primary-font;
   }
   color: $base-font-color;
   background-color: $base-bg-color;
   line-height: $base-line-height;
}

body, html {
   height: 100%;
}

a {
   text-decoration: none;
   @include transition-duration($base-transition-duration);

   &:hover {
      @include transition-duration($base-transition-duration);
   }
}

h1 {
   @include headline($h1-small-up, $h1-large-up, $base-headlines-line-height);
}

h2 {
   @include headline($h2-small-up, $h2-large-up, $base-headlines-line-height);
}

h3 {
   @include headline($h3-small-up, $h3-large-up, $base-headlines-line-height);
   margin: 0;
}

small {
   font-size: $base-small-font-size;
}

.large {
   font-size: $base-large-font-size-small-screens;

   @media #{$medium-up} {
      font-size: $base-large-font-size-medium-up-screens;
   }
}


button, .button {
   text-align: center;
   background: $button-bg-color;
   border: $button-border-size solid $button-color;
   color: $button-color;
   font-size: rem-calc($button-font-size);
   font-family: $primary-font;
   border-radius: rem-calc($button-border-radius);
   cursor: pointer;
   display: inline-block;
   min-width: rem-calc($button-min-width);
   @include transition-duration($base-transition-duration);

   &:hover {
      background: transparent;
      @include transition-duration($base-transition-duration);
   }

   &[disabled] {
      background: $button-disabled-bg-color;
      color: $button-disabled-color;
      border-color: $button-disabled-color;
      cursor: default;
   }
}

button {
   padding: rem-calc($button-padding);
}

.button {
   padding: rem-calc($button-padding - $button-border-size);
}