// TODO - extrahovat promenne do nastaveni + rozdelit na vice souboru

// main
// ***************************

.main-buttons {
   margin-top: rem-calc(30px);

   a {
      min-width: rem-calc(160px);
      margin: 0;
      width: auto;
   }

   div {
      @include span-columns(12);

      &:last-child {
         margin-top: rem-calc(20px);
      }

      @media #{$medium-up and $landscape} {
         @include span-columns(6);

         &:first-child {
            text-align: right;
         }

         &:last-child {
            text-align: left;
            margin-top: 0;
         }
      }
   }
}

.bg-1 {
   h1 {
      @include show-with-delay(1s);
   }

   .main-buttons {
      div:first-child {
         @include show-with-delay(2s);
      }

      div:last-child {
         @include show-with-delay(2.2s);
      }
   }

   h2 {
      @include show-with-delay(0s);
   }
}

.flags {
   @mixin flags($width, $top-space:$header-size-medium-up/2, $space-betwen:$header-size-medium-up/3) {
      top: rem-calc($header-size-medium-up + $top-space);
      width: rem-calc($width*2 + $space-betwen);

      div.cs {
         margin-right: rem-calc($space-betwen);
      }

      img {
         height: rem-calc((2/3)*$width);
         width: rem-calc($width);
      }
   }

   display: none;
   position: absolute;
   right: $header-side-margin;

   div.cs, div.en {
      float: left;
   }

   a {
      display: block;

      &:hover {
         box-shadow: $color-4 0 0 10px;
      }

      &.inactive {
         pointer-events: none;
         cursor: default;
      }
   }

   img {
      display: block;
      border-radius: rem-calc(3px);
   }

   @media #{$medium-up} {
      display: block;
      @include flags(45px, $header-size-medium-up/4, $header-size-medium-up/4);
   }

   @media #{$large-up} {
      @include flags(60px);
   }
}

// about
// ***************************

.links {
   margin-top: rem-calc(20px);
   text-align: center;

   div {
      display: inline-block;

      @media #{$medium-up} {
         & + div {
            margin-left: rem-calc(20px);
         }
      }

      &:first-child {
         margin-right: rem-calc(20px);

         @media #{$medium-up} {
            margin-right: 0;
         }
      }

      &:last-child {
         display: block;
         clear: both;
         margin-top: rem-calc(10px);

         @media #{$medium-up} {
            display: inline-block;
            clear: none;
            margin-top: 0;
         }
      }
   }

   .so, .gh, .li {
      padding-left: rem-calc(30px);
      background-size: rem-calc(23px);
      background-repeat: no-repeat;
      background-position: 0 rem-calc(3px);
   }

   .so {
      background-image: url("../images/so.png");
   }

   .gh {
      background-image: url("../images/gh.png");
   }

   .li {
      background-image: url("../images/li.png");
   }

   a {
      color: $color-4;

      &:hover {
         color: $color-1;
      }
   }
}

// progress
// ***************************

.progress-c {
   margin: rem-calc(180px 0 40px 0);
   position: relative;

   &:first-child {
      margin-top: rem-calc(20px);
   }

   @media #{$medium-only} {
      @include span-columns(4);
      @include omega(3n);
      margin-top: rem-calc(140px);

      &:first-child, &:nth-child(2), &:nth-child(3) {
         margin-top: rem-calc(10px);
      }
   }

   @media #{$large-up} {
      margin-top: rem-calc(20px);
      @include span-columns(2);
   }

   .progress-value {
      position: relative;
      text-align: center;
      top: rem-calc(90px);
   }

   img {
      position: absolute;
      // FIXME - proporce v IE
      max-height: rem-calc(70px);
      max-width: rem-calc(70px);
      @include center;
   }

   .progress-bar {
      position: absolute;
      @include center;
   }
}

// references
// ***************************

.projects-c {
   @include outer-container();
   margin-top: rem-calc(10px)
}

.project-c {

   @for $i from 1 to 10 {
      &.p#{$i}:before {
         background-image: url("../images/p#{$i}.jpg");
      }
   }

   &:before {
      content: "";
      display: block;
      padding-top: 71.6253444%;
      // background-image: url("http://placehold.it/726x520");
      background-size: contain;
   }

   position: relative;
   cursor: pointer;

   @media #{$medium-only} {
      @include span-columns(6);
      @include omega();
      width: 50%; // bourbon hack
   }

   @media #{$large-up} {
      @include span-columns(4);
      @include omega();
      width: 33.3333%; // bourbon hack
   }

   .project-text-c {
      @include transition-duration($base-transition-duration);
      text-align: center;
      background-color: rgba($color-3, 0.9);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      h1, h2, p {
         color: $color-1;
      }

      h1 {
         font-size: rem-calc(25px);
         line-height: 1;
      }

      h2 {
         font-size: rem-calc(20px);
         line-height: 1;
      }

      h2 + p {
         color: $color-4;
      }

      a {
         margin-top: rem-calc(20px);
      }

      .project-text {
         position: absolute;
         width: 100%;
         padding: 0 rem-calc(20px);
         @include center;
      }
   }

   &:hover {
      .project-text-c {
         @include transition-duration($base-transition-duration);
         opacity: 1;
      }
   }
}

.quote-wrapper {
   background-color: lighten($color-1, 50%);
   margin-top: rem-calc(20px);
}

.quote-wrapper, .quote-c {
   box-shadow: inset 0 0 rem-calc(5px) rem-calc(2px) $color-1;
}

.quote-c {
   @include transition-duration($base-transition-duration);
   color: $color-1;
   padding: rem-calc(50px) rem-calc(20px) rem-calc(20px) rem-calc(20px);

   @media #{$large-up} {
      padding-top: rem-calc(60px);
   }

   &.change-start {
      opacity: 0;
      background: none;
   }

   &.change-end {
      opacity: 1;
      background: $color-4 url("../images/quote.png") rem-calc(10px) rem-calc(10px) no-repeat;
      background-size: rem-calc(30px);

      @media #{$large-up} {
         background-size: rem-calc(40px);
      }
   }
}

.text {
   font-style: italic;
}

.author {
   margin-top: rem-calc(10px);
   color: $color-2;
}

.arrows {
   text-align: center;
   padding-top: rem-calc(20px);

   div {
      display: inline-block;
      
      &:first-child {
         margin-right: rem-calc(20px);
      }
   }
}

// deals
// ***************************

.deal {
   .large {
      margin: rem-calc(20px) 0 rem-calc(10px) 0;
   }

   .order {
      margin: rem-calc(20px) 0;
   }

   h3 {
      margin-top: rem-calc(10px);
   }
}

.color-1 .deal {
   .large {
      color: $color-4;
   }

   h3 small {
      color: lighten($color-1, 50%);
   }
}

.color-2 .deal {
   .large {
      color: lighten($color-1, 70%);
   }

   h3 small {
      color: lighten($color-2, 35%);
   }

   button, .button {
      background: lighten($color-1, 10%);

      &:hover {
         // FIXME - proc se to nededi?
         background: transparent;
      }
   }
}

// contact form
// ***************************

.contact-form-c {
   @include outer-container();
   margin-top: rem-calc(20px);

   @media #{$large-up} {
      margin-top: rem-calc(30px);
   }

   input, textarea {
      @include fill-parent();
      background: lighten($color-1, 20%);
      border: 2px solid $color-4;
      color: $color-4;
      padding: rem-calc(14px);
      font-size: rem-calc(14px);
      font-family: $primary-font;
      border-radius: rem-calc(3px);
      // FIXME - proc je to potreba?
      float: none !important;

      &.has-error {
         // border-color: lighten($color-error, 53%);
         background: lighten($color-error, 20%);
         // color: lighten($color-error, 53%);
      }
   }

   .error {
      display: block;
      margin-top: rem-calc(5px);
      color: lighten($color-error, 20%);
   }

   input {
      @media #{$large-up} {
         @include span-columns(4 of 10);
      }
   }

   .row {
      @include row();

      & > div:first-child {
         @include fill-parent();
         line-height: 2;
         margin-top: rem-calc(10px);

         @media #{$medium-up} {
            @include span-columns(3);
         }

         @media #{$large-up} {
            @include span-columns(2);
         }
      }

      & > div:last-child {
         @include fill-parent();

         @media #{$medium-up} {
            @include span-columns(9);
         }

         @media #{$large-up} {
            @include span-columns(10);
         }
      }

      & + .row {
         @media #{$medium-up} {
            margin-top: rem-calc(10px);
         }
      }

      &:last-child {
         margin-top: rem-calc(20px);

         @media #{$medium-up} {
            @include shift(3);
         }

         @media #{$large-up} {
            @include shift(2);
         }

         button {
            @include span-columns(6);

            @media #{$large-up} {
               @include span-columns(2 of 10);
            }
         }
      }

      &.user-msg {
         @media #{$medium-up} {
            @include span-columns(10);
            @include shift(2);
            color: $color-4;
            margin-bottom: rem-calc(15px);
         }
      }

      &.check {
         margin-bottom: rem-calc(25px);

         input {
            max-width: rem-calc(80px);
            float: left !important;
            margin-right: 0;

            & + div {
               display: inline-block;
               line-height: rem-calc(50px);
               float: none !important;
               margin-left: rem-calc(10px);
            }
         }
      }
   }
}

.contact-c {
   margin-bottom: rem-calc(120px);

   @media #{$medium-up} {
      margin-bottom: rem-calc(20px);
   }

   @media #{$large-up} {
      margin-bottom: rem-calc(0px);
   }
}

.footer {
   position: absolute;
   bottom: 0;
   text-align: center;
   width: 100%;
   background: $color-2;
   padding: rem-calc(20px);
   color: lighten($color-2, 35%);

   a {
      color: $color-4;

      &:hover {
         color: $color-1;
      }
   }

   div {
      display: inline-block;
      padding: 0 rem-calc(10px);
   }
}