// main
// ***************************

.main-buttons {
   margin-top: rem-calc(30px);

   button {
      min-width: rem-calc(160px);
      margin: 0;
      width: auto;
   }

   div {
      @include span-columns(12);

      &:last-child {
         margin-top: rem-calc(20px);
      }

      @media #{$medium-up and $landscape} {
         @include span-columns(6);

         &:first-child {
            text-align: right;
         }

         &:last-child {
            text-align: left;
            margin-top: 0;
         }
      }
   }
}

.bg-1 {
   h2 {
      @include show-with-delay(0);
   }
   h1 {
      @include show-with-delay(1s);
   }

   .main-buttons {
      div:first-child {
         @include show-with-delay(2s);
      }

      div:last-child {
         @include show-with-delay(2.2s);
      }
   }
}

.flags {
   @mixin flags($width, $top-space:$header-size-medium-up/2, $space-betwen:$header-size-medium-up/3) {
      top: rem-calc($header-size-medium-up + $top-space);
      width: rem-calc($width*2 + $space-betwen);

      div.cs {
         margin-right: rem-calc($space-betwen);
      }

      img {
         height: rem-calc((2/3)*$width);
         width: rem-calc($width);
      }
   }

   display: none;
   position: absolute;
   right: $header-side-margin;

   div.cs, div.en {
      float: left;
   }

   a {
      display: block;

      &:hover {
         box-shadow: $color-4 0 0 10px;
      }

      &.inactive {
         pointer-events: none;
         cursor: default;
      }
   }

   img {
      display: block;
      border-radius: rem-calc(3px);
   }

   @media #{$medium-up} {
      display: block;
      @include flags(45px, $header-size-medium-up/4, $header-size-medium-up/4);
   }

   @media #{$large-up} {
      @include flags(60px);
   }
}

// progress
// ***************************

.progress-c {
   margin: rem-calc(180px 0 40px 0);
   position: relative;

   &:first-child {
      margin-top: rem-calc(20px);
   }

   @media #{$medium-only} {
      @include span-columns(4);
      @include omega(3n);
      margin-top: rem-calc(140px);

      &:first-child, &:nth-child(2), &:nth-child(3) {
         margin-top: rem-calc(10px);
      }
   }

   @media #{$large-up} {
      margin-top: rem-calc(20px);
      @include span-columns(2);
   }

   .progress-value {
      position: relative;
      text-align: center;
      top: rem-calc(90px);
   }

   img {
      position: absolute;
      // FIXME - proporce v IE
      max-height: rem-calc(70px);
      max-width: rem-calc(70px);
      @include center;
   }

   .progress-bar {
      position: absolute;
      @include center;
   }
}

// references
// ***************************

.projects-c {
   @include outer-container();
   margin-top: rem-calc(10px)
}

.project-c {

   @for $i from 1 to 9 {
      &.p#{$i}:before {
         background-image: url("../images/p#{$i}.jpg");
      }
   }

   &:before {
      content: "";
      display: block;
      padding-top: 71.6253444%;
      // background-image: url("http://placehold.it/726x520");
      background-size: contain;
   }

   position: relative;
   cursor: pointer;

   @media #{$medium-only} {
      @include span-columns(6);
      @include omega();
      width: 50%; // bourbon hack
   }

   @media #{$large-up} {
      @include span-columns(4);
      @include omega();
      width: 33.3333%; // bourbon hack
   }

   .project-text-c {
      @include transition-duration($transition-duration);
      text-align: center;
      background-color: rgba($color-3, 0.9);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      h1, h2, p {
         color: $color-1;
      }

      h1 {
         font-size: rem-calc(25px);
         line-height: 1;
      }

      h2 {
         font-size: rem-calc(20px);
         line-height: 1;
      }

      a {
         margin-top: rem-calc(20px);
      }

      .project-text {
         position: absolute;
         width: 100%;
         padding: 0 rem-calc(20px);
         @include center;
      }
   }

   &:hover {
      .project-text-c {
         @include transition-duration($transition-duration);
         opacity: 1;
      }
   }
}