.progress-wrapper {
   margin: rem-calc(180px 0 40px 0);
   position: relative;

   &:first-child {
      margin-top: rem-calc(20px);
   }

   @media #{$medium-only} {
      @include span-columns(4);
      margin-top: rem-calc(140px);
      // FIXME - proc nefunguje default od Neatu?
      width: 30% !important;

      &:first-child, &:nth-child(2), &:nth-child(3) {
         margin-top: rem-calc(10px);
      }
   }

   @media #{$large-up} {
      margin-top: rem-calc(20px);
      @include span-columns(2);
   }

   .progress-value {
      position: relative;
      text-align: center;
      top: rem-calc(90px);
   }

   img {
      position: absolute;
      // FIXME - proporce v IE
      max-height: rem-calc(70px);
      max-width: rem-calc(70px);
      @include center;
   }

   .progress-bar {
      position: absolute;
      @include center;
   }
}