<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:fb="http://www.facebook.com/2008/fbml" ng-controller="MainController as vm" ng-strict-di>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

      <meta property="og:title" content="CHCI WEB - profesionální web rychle a levně">
      <meta property="og:type" content="website">
      <meta property="og:url" content="http://chci-web.cz">
      <meta property="og:image" content="http://chci-web.cz/images/bg1.jpg">
      <meta property="og:site_name" content="CHCI WEB - profesionální web rychle a levně">
      <meta property="og:description" content="Realizace, návrh a tvorba profesionálního webu rychle a levně. Jednoduchá nabídka služeb, ve které se zorientuje každý.">
      <meta property="og:email" content="ivana.dolezalova@gmail.com">
      <meta property="og:phone_number" content="+420776636086">

      <!--[if lte IE 9]>
      <title translate>Nepodporovaný prohlížeč :-(</title>
      <![endif]-->
      <!--[if !IE ]> -->
      <title>{{vm.webTitle | translate}}</title>
      <!-- <![endif]-->

      <!-- build:css(.tmp) css/style.min.css -->
      <link rel="stylesheet" href="styles/main.css">
      <!-- endbuild -->

      <!-- build:css(.) css/vendor.min.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/font-awsome/css/font-awesome.css" />
      <!-- endbower -->
      <!-- endbuild -->

      <!-- favicon start -->
      <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png?v=3">
      <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png?v=3">
      <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png?v=3">
      <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png?v=3">
      <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png?v=3">
      <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png?v=3">
      <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png?v=3">
      <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png?v=3">
      <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png?v=3">
      <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png?v=3" sizes="32x32">
      <link rel="icon" type="image/png" href="/favicon/favicon-194x194.png?v=3" sizes="194x194">
      <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png?v=3" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png?v=3" sizes="192x192">
      <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png?v=3" sizes="16x16">
      <link rel="manifest" href="/favicon/manifest.json?v=3">
      <link rel="shortcut icon" href="/favicon/favicon.ico?v=3">
      <meta name="apple-mobile-web-app-title" content="Ivadol">
      <meta name="application-name" content="Ivadol">
      <meta name="msapplication-TileColor" content="#2b5797">
      <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png?v=3">
      <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=3">
      <meta name="theme-color" content="#563e31">
      <!-- favicon end -->

      <!-- build:js(.) js/vendor.min.js -->
      <!-- bower:js -->
      <script src="bower_components/modernizr/modernizr.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
      <script src="bower_components/angular-inview/angular-inview.js"></script>
      <script src="bower_components/angular-scroll/angular-scroll.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js(.tmp) js/scripts.min.js -->
      <script src="scripts/appModule.js"></script>
      <script src="scripts/mainController.js"></script>
      <script src="scripts/mobileMenuAnimation.js"></script>
      <script src="scripts/translations.js"></script>
      <!-- endbuild -->
   </head>

   <!--[if lte IE 9]>
   <body>
      <main class="main-content-c">
         <div class="scrolling-bg">
            <div class="container-c unsupported-browser">
               <h2 ng-bind="vm.unsupportedBrowser"></h2>
               <p ng-bind-html="vm.unsupportedBrowserText"></p>
            </div>
         </div>
      </main>
   </body>
   <![endif]-->

   <!--[if !IE ]> -->
   <body style="display: none;">

      <header class="header-c">
         <div id="logo-c">
            <span>{{vm.webName | translate}}</span>
            <img src="images/logo.svg" />
         </div>
         <nav class="main-nav-c" ng-click="vm.showHideMobileMenu()">
            <span class="menu-icon fa fa-bars" ng-class="{'menu-icon-open': vm.isMobileMenuVisible}"></span>
            <ul ng-show="vm.isMobileMenuVisible" class="menu">
               <li><a href="#home" du-smooth-scroll du-scrollspy translate ng-click="vm.showHideMobileMenu()">Domů</a></li>
               <li><a href="#about" du-smooth-scroll du-scrollspy translate ng-click="vm.showHideMobileMenu()">O mně</a></li>
               <li><a href="#reference" du-smooth-scroll du-scrollspy translate ng-click="vm.showHideMobileMenu()">Reference</a></li>
               <li><a href="#services" du-smooth-scroll du-scrollspy translate ng-click="vm.showHideMobileMenu()">Nabídka</a></li>
               <li><a href="#contact" du-smooth-scroll du-scrollspy translate ng-click="vm.showHideMobileMenu()">Kontakt</a></li>
               <li ng-show="vm.isCzechLang" class="change-lang">
                  <a href="" ng-click="vm.changeLanguage('en_US')" translate translate-comment="translate to Czech">Change language: English (USA)</a>
               </li>
               <li ng-hide="vm.isCzechLang" class="change-lang">
                  <a href="" ng-click="vm.changeLanguage('cs_CZ')" translate translate-comment="translate to Czech">Change language: Czech</a>
               </li>
            </ul>
         </nav>
      </header>

      <main class="main-content-c">

         <div class="fixed-bg bg-1" id="home">
            <div class="flags">
               <div class="cs">
                  <a href="" ng-click="vm.changeLanguage('cs_CZ')" ng-class="{'inactive': vm.isCzechLang}">
                     <img src="images/cs_CZ{{vm.isCzechLang ? '_off' : ''}}.svg" />
                  </a>
               </div>
               <div class="en">
                  <a href="" ng-click="vm.changeLanguage('en_US')" ng-class="{'inactive': !vm.isCzechLang}">
                     <img src="images/en_US{{vm.isCzechLang ? '' : '_off'}}.svg" />
                  </a>
               </div>
            </div>
            <div class="container-c">
               <h2 translate>Ahoj! Jmenuji se Ivana Doležalová.</h2>
               <h1 translate>Jak Vám mohu pomoci?</h1>
               <div class="main-buttons">
                  <div><a href="#orderWeb" class="button" du-smooth-scroll translate translate-context="button">Chci web</a></div>
                  <div><a href="#orderFreelancer" class="button" du-smooth-scroll translate>Chci freelancera</a></div>
               </div>
            </div>
         </div>

         <section id="about">
            <div class="scrolling-bg color-2">
               <div class="container-c">
                  <h2 translate>Kdo jsem</h2>
                  <p translate>Front-end specialistka na volné noze. Návrhu a vývoji webů se věnuji od svých patnácti let, časem tento koníček přerostl v živnost. V roce 2012 jsem úspěšně dokončila studium informatiky na Masarykově univerzitě v Brně, poté jsem dva roky pracovala v menší české firmě ASSIST na pozici J2EE vývojáře se zaměřením na vývoj front-endu. V současné době působím jako freelancer v Praze a dodávám projekty po celé České republice a občas i do zahraničí (hovořím plynule anglicky).</p>
                  <p translate>Jsem velká fanynka a zastánkyně open sourcu i svobodného softwaru. Mám více než osmileté zkušenosti s operačním systémem Linux jako uživatelka a více než dvouleté jako administrátorka.</p>
                  <div class="links">
                     <div class="li"><a href="https://www.linkedin.com/pub/ivana-dolezalova/b6/512/78b" target="_blank">LinkedIn</a></div>
                     <div class="so"><a href="http://stackoverflow.com/users/3780766/akarienta" target="_blank">Stack Overflow</a></div>
                     <div class="ico" translate>IČ: 3798003</div>
                  </div>
               </div>
            </div>

            <div class="scrolling-bg color-4">
               <div class="container-c">
                  <div class="progress-c">
                     <img src="images/html.svg" in-view="$inview && vm.startProgress(0)" in-view-options="{debounce: 60}" />
                     <div class="progress-bar" round-progress current="vm.isProgressVisible[0] ? 100 : 0" color="#e44d26"></div>
                     <div class="progress-value">HTML</div>
                  </div>
                  <div class="progress-c">
                     <img src="images/foundation.svg" in-view="$inview && vm.startProgress(1)" in-view-options="{debounce: 60}" />
                     <div class="progress-bar" round-progress current="vm.isProgressVisible[1] ? 80 : 0" color="#028cb9"></div>
                     <div class="progress-value">Foundation</div>
                  </div>
                  <div class="progress-c">
                     <img src="images/javascript.svg" in-view="$inview && vm.startProgress(2)" in-view-options="{debounce: 60}" />
                     <div class="progress-bar" round-progress current="vm.isProgressVisible[2] ? 55 : 0" color="#e6a626"></div>
                     <div class="progress-value">JavaScript</div>
                  </div>
                  <div class="progress-c">
                     <img src="images/angular.svg" in-view="$inview && vm.startProgress(3)" in-view-options="{debounce: 60}" />
                     <div class="progress-bar" round-progress current="vm.isProgressVisible[3] ? 65 : 0" color="#dd1b16"></div>
                     <div class="progress-value">AngularJS</div>
                  </div>
                  <div class="progress-c">
                     <img src="images/css.svg" in-view="$inview && vm.startProgress(4)" in-view-options="{debounce: 60}" />
                     <div class="progress-bar" round-progress current="vm.isProgressVisible[4] ? 90 : 0" color="#1572b6"></div>
                     <div class="progress-value">CSS</div>
                  </div>
                  <div class="progress-c">
                     <img src="images/sass.svg" in-view="$inview && vm.startProgress(5)" in-view-options="{debounce: 60}" />
                     <div class="progress-bar" round-progress current="vm.isProgressVisible[5] ? 75 : 0" color="#cf649a"></div>
                     <div class="progress-value">SASS</div>
                  </div>
               </div>
            </div>

            <div class="scrolling-bg color-1">
               <div class="container-c">
                  <h2 translate>Co dělám</h2>
                  <p translate>Specializuji se na návrh a tvorbu prezentačních webů pro živnostníky a menší firmy. Má typická práce spočívá v analýze a pochopení odvětví, ve kterém se klient pohybuje, následnému návrhu webové prezentace jemu na míru a po odsouhlasení samozřejmě i realizaci.</p>
                  <p translate>Tím však má práce nekončí, dále se starám, aby byl web na internetu vidět a zůstávám s klienty v kontaktu, aby byli schopní reagovat na situaci na trhu přizpůsobením jejich prezentace tak, aby byla stále aktuální a v neposlední řadě i moderní.</p>
               </div>
            </div>
         </section>

         <div class="fixed-bg bg-2">
            <div class="container-c">
               <h2 translate>Až 90 % mých klientů si myslí, že někdy v minulosti zaplatili za tvorbu webu neadekvátní částku a přitom nebyli spokojení s výsledkem.</h2>
               <h1 translate>Změňme to. Společně.</h1>
            </div>
         </div>

         <section id="reference">
            <div class="scrolling-bg color-2">
               <div class="container-c">
                  <h2 translate>Realizované projekty</h2>
                  <p translate>Zde si můžete prohlédnout mou práci. Nejedná se o kompletní portfolio, řada mých - především starších - projektů již byla archivována.</p>
                  <p>{{vm.getPortfolioText()}}</p>
                  <div class="projects-c">

                     <div class="project-c p1">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">Koliba Opava</h1>
                              <h2 translate>duben 2015</h2>
                              <p translate>návrh, realizace</p>
                              <a class="button" href="http://koliba-opava.cz" target="_blank" translate>Přejít na web</a>
                           </div>
                        </div>
                     </div>
                     <div class="project-c p2">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">S chutí do práce</h1>
                              <h2 translate>leden 2015</h2>
                              <p translate>návrh, design, realizace</p>
                              <a class="button" href="http://schutidoprace.cz" target="_blank" translate>Přejít na web</a>
                           </div>
                        </div>
                     </div>
                     <div class="project-c p3">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">Všem ženám</h1>
                              <h2 translate>listopad 2014</h2>
                              <p translate>návrh, realizace</p>
                              <a class="button" href="http://vsemzenam.cz" target="_blank" translate>Přejít na web</a>
                           </div>
                        </div>
                     </div>

                     <div class="project-c p4">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">ASSIST</h1>
                              <h2 translate>březen 2013</h2>
                              <p translate>front-end</p>
                           </div>
                        </div>
                     </div>
                     <div class="project-c p5">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">Alisen</h1>
                              <h2 translate>listopad 2012</h2>
                              <p translate>front-end</p>
                              <a class="button" href="http://alisen.cz" target="_blank" translate>Přejít na web</a>
                           </div>
                        </div>
                     </div>
                     <div class="project-c p6">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">Krchov pod sakurou</h1>
                              <h2 translate>květen 2011</h2>
                              <p translate>návrh, design, realizace</p>
                           </div>
                        </div>
                     </div>

                     <div class="project-c p7">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">R. B. Chandeliers</h1>
                              <h2 translate>jaro 2010</h2>
                              <p translate>kompletní web</p>
                              <a class="button" href="http://rb-lustry.cz" target="_blank" translate>Přejít na web</a>
                           </div>
                        </div>
                     </div>
                     <div class="project-c p8">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">Skaut Velká Polom</h1>
                              <h2 translate>podzim 2007</h2>
                              <p translate>návrh, design, realizace</p>
                              <a class="button" href="http://skaut-velkapolom.net" target="_blank" translate>Přejít na web</a>
                           </div>
                        </div>
                     </div>
                     <div class="project-c p9">
                        <div class="project-text-c">
                           <div class="project-text">
                              <h1 translate translate-comment="remove special characters if any">GEO-MP</h1>
                              <h2 translate>léto 2005</h2>
                              <p translate>revize front-endu</p>
                              <a class="button" href="http://www.geomp.cz" target="_blank" translate>Přejít na web</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="scrolling-bg color-1">
               <div class="container-c">
                  <h2 translate>Slova klientů</h2>
                  <div class="quote-wrapper">
                     <div class="quote-c" ng-class="{true: 'change-end', false: 'change-start'}[vm.referenceChange]">
                        <div class="text">{{vm.references[vm.activeReference].text}}</div>
                        <div class="author">{{vm.references[vm.activeReference].author}}</div>
                     </div>
                  </div>
                  <div class="arrows">
                     <div><button ng-click="vm.changeReference(true)" translate>Předchozí</button></div>
                     <div><button ng-click="vm.changeReference(false)" translate>Další</button></div>
                  </div>
               </div>
            </div>
         </section>

         <div class="fixed-bg bg-3">
            <div class="container-c">
               <h2 translate>Šetřete svůj čas, peníze i nervy. Přestaňte bojovat s větrnými mlýny a obraťte se na profesionála.</h2>
               <h1 translate>Vím, jak na to. Pomohu Vám.</h1>
            </div>
         </div>

         <section id="services">
            <div class="scrolling-bg color-4">
               <div class="container-c">
                  <h2 translate>Proč si vybrat spolupráci se mnou</h2>
                  <ul>
                     <li translate>Můžeme si nejprve sednout a nezávazně si popovídat. Rozhodnete se sami.</li>
                     <li translate>Zakládám si na lidském přístupu ke klientovi, vždy chci, aby přesně věděl, co dělám a proč to dělám zrovna takto.</li>
                     <li translate>Používám při práci prototypování, takže výslednou podobu webu uvidíte předem.</li>
                     <li translate>Jsem časově flexibilní a mohu přijet kamkoliv za Vámi.</li>
                     <li translate>Až 90 % mých klientů se na mne při potřebě tvorby dalšího webu obrátilo znovu.</li>
                     <li translate>Jsem profesionál a tvorba webů mne živí. Není to koníček ani přivýdělek.</li>
                     <li translate>Neustále se vzdělávám a k realizaci projektů tak vždy využívám moderní technologie i postupy.</li>
                     <li translate>Jsem schopná zajistit profesionální překlad Vašeho webu do mnoha jazyků.</li>
                  </ul>
               </div>
            </div>

            <div class="scrolling-bg color-1" id="orderWeb">
               <div class="container-c deal">
                  <h2 translate>Chci web</h2>
                  <p translate>Většina mých klientů nepotřebuje nic složitého a jejich požadavky se v tom zásadním neliší: chtějí se prezentovat na internetu a oslovit webem své klienty. Za tímto účelem potřebují web, který bude designově odrážet prostředí, ve kterém podnikají, který se bude klientům zobrazovat korektně na jakémkoliv zařízení a na který zvládnou v případě potřeby jednoduše přidat vlastní text bez dodatečných nákladů.</p>
                  <p translate>Jestli se do této kategorie řadíte i Vy, mohl by Vás oslovit následující balíček připravený na míru těmto potřebám. Za jednotnou a konečnou cenu získáte:</p>
                  <ul>
                     <li translate>Profesionální responsivní šablonu pro redakční systém WordPress nebo Joomla!</li>
                     <li translate>Instalaci redakčního systému WordPress nebo Joomla!</li>
                     <li translate>20 hodin práce profesionálního webdesignéra na úpravě webu dle Vašich potřeb</li>
                     <li translate>CZ doménu dle Vašeho výběru a webhosting na jeden rok</li>
                     <li translate>2 libovolně dlouhé osobní konzultace v Praze a okolí, jinde za doplatek nebo po Skypu</li>
                     <li translate>Garanci dodání hotového webu do dvou týdnů od uzavření objednávky</li>
                     <li translate>Půl roku podpory v podobě on-line konzultací</li>
                     <li translate>20% slevu na mé další služby</li>
                  </ul>
                  <p translate>Pokud některým z výše uvedených termínů nerozumíte, nelekejte se. Můžete mne nezávazně kontaktovat a vše Vám ochotně a zdarma vysvětlím.</p>
                  <p class="large"><b translate>Nyní pozor, zaváděcí ceny s 20% slevou! Pouze do konce srpna 2015.</b></p>
                  <h3 translate translate-comment="keep <small> markers, currency to dollars">Cena balíčku: běžně 10 000 Kč</small></h3>
                  <div class="order"><button ng-click="vm.orderWeb()" translate>Objednat balíček</button></div>
                  <small translate>Ceny jsou uvedeny bez DPH. Nejsem plátce DPH.</small>
               </div>
            </div>

            <div class="scrolling-bg color-2" id="orderFreelancer">
               <div class="container-c deal">
                  <h2 translate>Chci freelancera</h2>
                  <p translate>Ať už jste náročnější klient, poptáváte specifické služby, máte zájem o služby ve větším rozsahu, potřebujete pomoci s vlastním projektem nebo cokoliv jiného, je právě Vám určena tato nabídka. Můžete si mne najmout za fixní hodinovou sazbu nebo objednat na předem zadaný úkol.</p>
                  <p translate>Jsem schopná zajistit tyto činnosti:</p>
                  <ul>
                     <li translate>Kódování front-endu v HTML, CSS (SASS), ZURB Foundation a Bootstrap</li>
                     <li translate>Vývoj front-endu v JavaScriptu, jQuery a AngularJS</li>
                     <li translate>Návrh, design a realizace kompletního webu pro živnostníky nebo menší firmy</li>
                     <li translate>Redesign nebo optimalizace stávajícího webu</li>
                     <li translate>Vývoj back-endu v Javě EE nebo Pythonu</li>
                     <li translate>Instalace a administrace linuxového serveru (distribuce CentOS a Debian)</li>
                     <li translate>Instalace a administrace aplikací MoinMoin, MediaWiki, Bugzilla, Pootle, WordPress a Joomla!</li>
                  </ul>
                  <p translate>Rozsah práce, pracovní doba i délka trvání kontraktu je na dohodě. Smluvní ceny.</p>
                  <h3 translate translate-comment="keep <small> markers, currency to dollars">Hodinová sazba: 500 Kč</h3>
                  <div class="order"><button ng-click="vm.orderFreelancer()" translate>Poptat freelancera</button></div>
                  <small translate>Ceny jsou uvedeny bez DPH. Nejsem plátce DPH.</small>
               </div>
            </div>
         </section>

         <div class="fixed-bg bg-4">
            <div class="container-c">
               <h2 translate>I Vy můžete mít kvalitní web za rozumnou cenu. Třeba za dva týdny.</h2>
               <h1 translate>Kontaktujte mne. Zařídím to.</h1>
            </div>
         </div>

         <section class="scrolling-bg color-1" id="contact" style="min-height: 100%;">
            <div class="container-c contact-c">
               <h2 translate>Kontaktní formulář</h2>
               <form name="contactForm" novalidate>
                  <div class="contact-form-c">
                     <div class="row">
                        <div><label for="name" translate>Jméno</label>&nbsp;*</div>
                        <div>
                           <input id="name" type="text" name="name" ng-model="vm.name" minlength="3" required
                                  ng-class="{'has-error': contactForm.name.$dirty && contactForm.name.$invalid}"
                                  ng-model-options="{debounce: 800}" />
                           <span ng-show="contactForm.name.$dirty && contactForm.name.$invalid">
                              <span class="error" ng-show="contactForm.name.$error.required" translate>Jméno je povinná položka.</span>
                              <span class="error" ng-show="contactForm.name.$error.minlength" translate>Jméno musí mít alespoň tři znaky.</span>
                           </span>
                        </div>
                     </div>
                     <div class="row">
                        <div><label for="email" translate>E-mail</label>&nbsp;*</div>
                        <div>
                           <input id="email" type="email" name="email" ng-model="vm.email" required
                                  ng-class="{'has-error': contactForm.email.$dirty && contactForm.email.$invalid}"
                                  ng-model-options="{debounce: 800}" />
                           <span ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
                              <span class="error" ng-show="contactForm.email.$error.required" translate>E-mail je povinná položka.</span>
                              <span class="error" ng-show="contactForm.email.$error.email" translate>E-mail je neplatný.</span>
                           </span>
                        </div>
                     </div>
                     <div class="row">
                        <div><label for="tel" translate>Telefon</label></div>
                        <div>
                           <input id="tel" type="tel" name="phone" ng-model="vm.phone" />
                        </div>
                     </div>
                     <div class="row check">
                        <div>
                           <label for="check">{{vm.captchaFirst}}&nbsp;<translate>plus</translate>&nbsp;{{vm.captchaSecond}}&nbsp;<translate>je</translate></label>&nbsp;*
                        </div>
                        <div>
                           <input id="check" name="check" ng-model="vm.check" type="text" required
                                  ng-class="{'has-error': (contactForm.check.$dirty && contactForm.check.$invalid) || vm.invalidCheck}"
                                  ng-change="vm.invalidCheck = false"
                                  ng-model-options="{debounce: 800}" /> <div translate>(číslo)</div>
                           <span ng-show="contactForm.check.$dirty && contactForm.check.$invalid">
                              <span class="error" ng-show="contactForm.check.$error.required" translate>Pole pro ochranu proti SPAMu musí být vyplněno.</span>
                           </span>
                           <span ng-show="contactForm.check.$dirty && contactForm.check.$valid && vm.invalidCheck">
                              <span class="error" ng-show="vm.invalidCheck" translate>Výsledek součtu není správný. Zadali jste číslo?</span>
                           </span>
                        </div>
                     </div>
                     <div class="row">
                        <div><label for="subject" translate>Předmět</label></div>
                        <div><input id="subject" name="subject" ng-model="vm.subject" type="text"/></div>
                     </div>
                     <div class="row">
                        <div><label for="msg" translate>Zpráva</label>&nbsp;*</div>
                        <div>
                           <textarea name="msg" ng-model="vm.msg" id="msg" cols="10" rows="10" required minlength="10"
                                     ng-class="{'has-error': contactForm.msg.$dirty && contactForm.msg.$invalid}"
                                     ng-model-options="{debounce: 800}">
                           </textarea>
                           <span ng-show="contactForm.msg.$dirty && contactForm.msg.$invalid">
                              <span class="error" ng-show="contactForm.msg.$error.required" translate>Zpráva je povinná položka.</span>
                              <span class="error" ng-show="contactForm.msg.$error.minlength" translate>Zpráva musí mít alespoň deset znaků.</span>
                           </span>
                        </div>
                     </div>
                     <div class="row user-msg" ng-show="vm.sendInProgress" translate>
                        Právě probíhá odesílání zprávy...
                     </div>
                     <div class="row user-msg" ng-show="vm.showSentMsg()">
                        {{vm.sentMsg}}
                     </div>
                     <div class="row">
                        <button ng-click="vm.resetForm()" ng-disabled="vm.sendInProgress" translate>Vymazat</button>
                        <button ng-click="vm.submitForm()" ng-disabled="vm.sendInProgress" translate>Odeslat</button>
                     </div>
                  </div>
               </form>
            </div>
            <div class="footer">
               <div>&copy; 2015&nbsp;<translate translate-comment="remove special characters">Ivana Doležalová</translate></div>
               <div><a href="tel:+420776636086">+420 776 636 086</a></div>
               <div><a href="mailto:ivana.dolezalova@gmail.com">ivana.dolezalova@gmail.com</a></div>
               <div translate>IČ: 3798003</div>
            </div>

         </section>

      </main>

   </body>
   <!-- <![endif]-->

</html>
